<footer class="row d-flex justify-content-between align-items-center">

  <div class="col-3">
    <h3> Síguenos en:</h3>
  </div>
  <div class="col-3">
    <img src="/images/restaurant/vecteezy_facebook-logo-png-facebook-icon-transparent-png_18930698.png" alt="facebook">
    <img src="/images/restaurant/vecteezy_instagram-logo-png-instagram-icon-transparent_18930415.png" alt="instagram">
    <img src="/images/restaurant/vecteezy_twitter-logo-png-twitter-icon-transparent-free-png_18930745.png" alt="twitter">
  </div>

  <div class="col-3 link">
    <a class="link">Política de privacidad</a>
  </div>
  <div class="col-3 tex-align-right">
    <p class="copy">&copy; 2023 Good Eat</p>
  </div>
  

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>